body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: lightslategray;
}


/* Header */

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    font-size: 20px;
}

.topnav a:hover {
    text-decoration: underline;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    width: 268.5px;
    height: 35px;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 18px;
    border-radius: 7px;
    opacity: 0.5;
    background: #D9D9D9;
}

/* ------ */

/* Top */

.top {
    width: 375px;
    text-align: center;
    margin: auto;
    margin-top: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
}

.top #cityname {
    color: #FFF;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.185px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.top #temp {
    color: #FFF;
    font-size: 102px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: -0.51px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.top #desc {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1px;
    margin-bottom: 1px;

}

.top #handlpressure {
    color: #FFF;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}



/* ------ */


/* Card */


.forecast-card-container {
    /*width: 528px;*/
    /*height: 190px;*/
    /*background-color: purple;*/
}

.forecast-background {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 20px;
    padding-top: 20px;
}

.forecast-card {
    background-color: rgba(0, 0, 0, 0.3);
    /*padding: 10px;*/
    /*border-radius: 10px;*/
    /*margin: 10px;*/
    padding-top: 15px;
    text-align: center;
    width: 150px;
    height: 200px;
}

.forecast-card img {
    width: 60px;
    height: 60px;
}

.day-info {
    font-size: 20px;
}

/* -------- */

/* Card */

.contenty {
    margin-top: 60px;
}


@media screen and (max-width: 768px) {
    .forecast-card-container {
        flex-direction: column;
    }

    .forecast-card {
        width: 80%;
    }
}



/* -------- */

/* Loading */

.pagelu {
    display: none;
}

#loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(21, 27, 31, 1);
    background-image: url("assets/d95it6h-ceaa1da3-727a-402f-8061-9a0a8e68af13.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 300px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    mix-blend-mode: normal;

}

*::-webkit-scrollbar {
    display: none;
}

/* -------- */

/* Quote Generator */

.quotediv {
    padding-top: 70px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}


#quotemsg {
    color: #fff;
    font-size: 35px;
    line-height: 1.5;
    margin-bottom: 20px;
    width: 80% text-align: center;
}

#gen {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

#gen:hover {
    /*background-color: gray;*/
    /*opacity: 0.5;*/
    /*border: white;*/
}


/* -------- */

/* Photos */

.imageContainer {
    display: flex;
    justify-content: space-around;
}

.centered-container {
    text-align: center;
}


#generate-image-button {
    /*background-color: none;*/
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    /*transition: background-color 0.3s ease;*/
    padding-left: 20px;
    font-size: 20px;
}

#generate-image-button:hover {
    /*background-color: #219145;*/
}

/*popup on the side*/

#toast-body {
    padding-left: 20px;
    font-size: 17px;
    height: 30px;
    /*color: darkgray;*/
}
